<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>DBTest</servlet-name>
  	<display-name>DBTest</display-name>
  	<description></description>
  	<servlet-class>kr.co.gdu.DBTest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserList</servlet-name>
  	<display-name>UserList</display-name>
  	<description></description>
  	<servlet-class>kr.co.gdu.UserList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BoardInsert</servlet-name>
  	<display-name>BoardInsert</display-name>
  	<description></description>
  	<servlet-class>kr.co.gdu.BoardInsert</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BoardView</servlet-name>
  	<display-name>BoardView</display-name>
  	<description></description>
  	<servlet-class>kr.co.gdu.BoardView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BoardList</servlet-name>
  	<display-name>BoardList</display-name>
  	<description></description>
  	<servlet-class>kr.co.gdu.BoardList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginHome</servlet-name>
  	<display-name>LoginHome</display-name>
  	<description></description>
  	<servlet-class>kr.co.gdu.LoginHome</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewMembers</servlet-name>
  	<display-name>NewMembers</display-name>
  	<description></description>
  	<servlet-class>kr.co.gdu.NewMembers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateMembers</servlet-name>
  	<display-name>UpdateMembers</display-name>
  	<description></description>
  	<servlet-class>kr.co.gdu.UpdateMembers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Update</servlet-name>
  	<display-name>Update</display-name>
  	<description></description>
  	<servlet-class>kr.co.gdu.Update</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MembersInfo</servlet-name>
  	<display-name>MembersInfo</display-name>
  	<description></description>
  	<servlet-class>kr.co.gdu.MembersInfo</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DBTest</servlet-name>
  	<url-pattern>/DBTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserList</servlet-name>
  	<url-pattern>/UserList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BoardInsert</servlet-name>
  	<url-pattern>/BoardInsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BoardView</servlet-name>
  	<url-pattern>/BoardView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BoardList</servlet-name>
  	<url-pattern>/BoardList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginHome</servlet-name>
  	<url-pattern>/LoginHome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewMembers</servlet-name>
  	<url-pattern>/NewMembers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateMembers</servlet-name>
  	<url-pattern>/UpdateMembers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Update</servlet-name>
  	<url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MembersInfo</servlet-name>
  	<url-pattern>/MembersInfo</url-pattern>
  </servlet-mapping>
</web-app>
